
.animenu__toggle{
	display:none;
  	cursor:pointer;
  	background-color:#2b2b22;
  	border:0;
  	padding:10px;
  	height:40px;
  	width:40px;
  	margin:0px 0px 0 0;
  	float:right;
}
.animenu__toggle:hover{
  	background-color: #aa0505;
}
.animenu__toggle__bar{
	display:block;
  	width:20px;
  	height:2px;
  	background-color:#fff;
  	-webkit-transition:0.15s cubic-bezier(0.75, -0.55, 0.25, 1.55);
  	transition:0.15s cubic-bezier(0.75, -0.55, 0.25, 1.55);
}
.animenu__toggle__bar + .animenu__toggle__bar{
  	margin-top:4px;
}

.animenu__toggle--active .animenu__toggle__bar{
  	margin:0;
  	position:absolute;
}
.animenu__toggle--active .animenu__toggle__bar:nth-child(1){
  	-webkit-transform: rotate(45deg);
  	-ms-transform: rotate(45deg);
  	transform: rotate(45deg);
}
.animenu__toggle--active .animenu__toggle__bar:nth-child(2){
 	 opacity:0;
}
.animenu__toggle--active .animenu__toggle__bar:nth-child(3){
  	-webkit-transform: rotate(-45deg);
  	-ms-transform: rotate(-45deg);
  	transform: rotate(-45deg);
}
.animenu{
  	display:block;
}
.animenu ul{
  	padding: 0;
  	margin:0;
}
.animenu li,.animenu a{
  	display:inline-block;
}
.animenu a{
 	 color:#aaaaaa;
  	text-decoration:none;
}
.animenu__nav{
  	background:none;
}
.animenu__nav > li{
  	position:relative;
  	float:left;
	color:#000;
	font-size:15px;
	text-transform:uppercase;
	padding:13px 0 13px 0;
	background:url(../images/menu_line.jpg) right no-repeat;
}
.animenu__nav > li > a{
  	color:#000;
	display:block;
	margin:0px 25px 0px 25px;
	padding:5px 0 5px 0;
}

.animenu__nav li:last-child{
	background:right none;
}

.animenu__nav > li:hover > ul{
  	opacity:1;
  	visibility:visible;
  	margin:0;
	
}
.animenu__nav > li a:hover{
  	color:#aa0505;
}
.animenu__nav > li a.active{
  	color:#aa0505;
}

.animenu__nav__child{
  	width:auto;
  	position:absolute;
  	top:50px;
  	left:0px;
  	z-index:999999999999999;
  	opacity:0;
  	visibility:hidden;
  	margin:0px 0 0 0;
  	background-color:#2b2b22;
  	-webkit-transition:margin .25s, opacity .25s;
  	transition:margin .25s, opacity .25s;

}
.animenu__nav__child > li{
  	width:270px;
  	display:block;
  	border-bottom: 1px solid #1d1d13;
}

.animenu__nav__child li a{
  	padding:10px 25px 10px 15px;
  	color:#fff;
  	display:block;
  	border-color: #373737;
}
.animenu__nav__child li a:hover{
  	border-bottom:none;
  	color:#fff;
	background:#aa0505;
}

@media screen and (max-width: 640px) {
.animenu__toggle{
    display:inline-block;
}
.animenu__nav,.animenu__nav__child{
    display:none;
}
.animenu__nav{
    margin:0px 0;
}
.animenu__nav > li{
    width: 100%;
    background:right none;
    border-bottom: 1px solid #bab7a8;
	margin:0;
	padding:0;
	color:#000;
}
.animenu__nav__child > li{
  	display:block;
  	border-bottom: 1px solid #bab7a8;
}
.animenu__nav > li:last-child{
    border:0;
}
.animenu__nav__child > li{
  	display:block;
  	border-top: 1px solid #bab7a8;
  	border-bottom:none;
  	margin:0 0 0 20px;
}
.animenu__nav > li > a{
    width:auto;
    padding:10px;
    position:relative;
	margin:0;
	color:#000;
}
.animenu__nav li a:hover{
    border-color: #0186ba;
    color: #fff;
	border-bottom:none;
	background:#aa0505;
}
.animenu__nav > li a.active{
	color: #fff;
  	border-bottom:none;
	background:#aa0505;
}
.animenu__nav__child{
    position:static;
    background:none;
    margin:0;
    -webkit-transition:none;
    transition:none;
    visibility:visible;
    opacity:1;
	width:100%;
}
.animenu__nav__child li a{
  	color:#000;
  	display:block;
  	text-transform:uppercase;
  	border-color: #373737;
}
.animenu__nav__child li a:hover{
  	border-bottom:none;
  	color:#fff;
}
.animenu__nav__child a{
	color:#000;
}
.animenu__nav--open{
	display: block !important;
}
.animenu__nav--open .animenu__nav__child{
	display: block;
}
}

